<h1>{{title}}</h1>
<p>You are logged in, this is the profile page.</p>
<p>Welcome, {{user.username}}!</p>
<p>Your email is: {{user.email}}</p>
<p>Your bio is: {{user.bio}}</p>
<p>Your first name is: {{user.firstName}}</p>
<p>Your last name is: {{user.lastName}}</p>
<p> Your pick history: {{user.pickHistory}}</p>
<p> Your friends: {{user.friends}}</p>
<p> Your credit balance: {{user.creditBalance}}</p>
<p> Your mmr: {{user.mmr}}</p>
<p> Your rank: {{user.rank}}</p>

<p><a href="/account/logout">Click here to logout</a></p>